/* En-tête */

 header
{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
    margin-bottom : 20px;
}

.header_img
{
   background-image: url('Images/Borbeaux_fond_commun.jpg'), url('Images/Miroir_eau.jpg');
   background-position: left, right;
   background-size: 1000px 300px, 350px 300px;
   background-repeat: no-repeat, no-repeat;
   height: 100px;
   padding-top: 200px;
   color: #FFFFFF;
}

/* Corps */

body
{
 margin: 0;
}

/* Navigation */

nav
{
    display: inline-block;
    width: 640px;
    vertical-align: top;
    line-height:45px; 
    background-color: black;
}

nav ul
{
    list-style-type: none;
    position: absolute;
}



nav a
{
    font-size: 1.2em;
    color: #760001;
    padding-bottom: 12px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}


/* Section */

section
{
    margin-left: 250px;
}

/* Style Ecriture */

h1,h2,h3,h4
{
    color: #800000
}

h5
{
font-size: 0.9em;
}

p
{
    color: #333333
}

/* Classe */

.mail
{
    background: url(Icone/icone_mail.png) no-repeat 0em 0em;
    padding-left: 25px;
    color: #0099FF
}

.url
{
  color: #0000CC;
 /*background: url(navigateur-terre-internet-world-icone-5531-16.png) no-repeat 0em 0em;*/
 /*padding-left: 20px;*/
}

.url a:visited /* Quand le visiteur a dÃ©jÃ  vu la page concernÃ©e */
{
 color: #0000CC
}

.prog
{
  color: #0000CC;
  /*background: url(Adobe-PDF-Document-icon.png) no-repeat 0em 0em;*/
  padding-left: 5px;
}

.pdf
{
  color: #0000CC;
  background: url(Icone/icone_pdf.png) no-repeat 0em 0em;
  padding-left: 25px;
}


.bottom-space {
     margin-bottom: 30px;
  }

.big-skip {
     margin-bottom: 100px;
  }

footer 
{
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
  text-align: center;
  padding-top: 20px;
}

footer p {
   color: #800000;
}
